@import './variables';

mat-dialog-container#modal-component {
    border: $modal-component--border;
    border-radius: $modal-component--border-radius;
    background-color: $modal-component--bg;
}

.modal {
    .text-header {
        color: $modal-header--color;
    }

    .text-paragraph {
        color: $modal-paragraph--color;
    }
}

.open-modal-button {
    border: none;
    background: none;
}

.modal-content--wrapper {
    width: $modal-content-wrapper--width;
    height: $modal-content-wrapper--height;
    display: grid;
    grid-template-rows: $modal-content-wrapper--width;
}

.modal--footer {
    justify-self: right;
    align-self: center;
}

.modal-content--column {
    padding-bottom: $modal-content--column--padding-bottom;

    .text-title {
        color: $modal-content--column--color;
        font-size: $modal-content--column--font-size;
    }
}