@import './variables';

.row-content {
    display: flex;
    justify-content: center;
}

.row-content--grid {
    display: grid;
    grid-template-columns: $row-content--grid--column;
    grid-gap: $row-content--grid--grap;
    align-items: center;
    height: $row-content--grid--height;
}

.row-content--column--justify-center {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .row-content--grid {
        display: flex;
        flex-direction: column;
    }
}
