@import './variables';

.row-content {
    display: flex;
    justify-content: center;
}

.row-content--grid {
    display: grid;
    grid-template-columns: $row-content--grid--column;
    grid-gap: $row-content--grid--grap;
    align-items: center;
    height: $row-content--grid--height;
}

.row-content--column--justify-center {
    display: flex;
    justify-content: center;
}

.row-content--column--justify-end {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .row-content {
        padding-bottom: $row-content--padding-bottom;
    }

    .row-content .row-content--header {
        padding-bottom: $row-content--header--padding-bottom;
    }

    .row-content--grid {
        display: flex;
        flex-direction: column;
    }

    .row-content--column {
        margin: $row-content--column--media-margin;
    }

    .row-content--header {
        li:nth-child(2),
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(5),
        li:nth-child(6) {
            display: none;
        }
    }
}
