// Row content

$row-content--grid--column: 
    150px
    150px 
    300px
    150px
    150px
    150px;
$row-content--grid--grap: $global-spacing--1 $global-spacing-2;
$row-content--column--padding-bottom: $global-spacing-2;
$row-content--grid--height: 150px;

$row-content--column--media-margin: 0 $global-spacing-2;

$row-content--padding-bottom: $global-spacing-2;
$row-content--header--padding-bottom: none;