$cui-avatar--height: 100px;
$cui-avatar--width: 100px;
$cui-avatar--border-width: 1px;
$cui-avatar--border-style: solid;
$cui-avatar--border-radius: 50%;
$cui-avatar--border-color: grey;

$cui-avatar-img--height: 100%;
$cui-avatar-img--width: 100%;
$cui-avatar-img--max-width: 64px;
$cui-avatar-img--max-height: 64px;


.avatar {
    display: block;
    height: $cui-avatar--height;
    width: $cui-avatar--width;
}

.avatar img {
    border-width: $cui-avatar--border-width;
    border-style: $cui-avatar--border-style;
    border-color: $cui-avatar--border-color;
    border-radius: $cui-avatar--border-radius;
    border-radius: $cui-avatar--border-radius;
    height: $cui-avatar-img--height;
    max-height: $cui-avatar-img--max-height;
    max-width: $cui-avatar-img--max-width;
    object-fit: cover;
    overflow: hidden;
    width: $cui-avatar-img--width;
}