$global-spacing--3: 0.25rem !default;  // 4px
$global-spacing--2: 0.5rem !default;   // 8px
$global-spacing--1: 0.75rem !default;  // 12px
$global-spacing: 1rem !default;        // 16px
$global-spacing-1: 1.25rem !default;   // 20px
$global-spacing-2: 1.5rem !default;    // 24px
$global-spacing-3: 1.75rem !default;   // 28px