@import './variables';

.text {
    display: flex;
    align-items: center;
}

.text-header {
    color: $text-header--color;
    font-family: $text-header--font-family;
    font-size: $text-header--font-size;
    font-weight: 500;
}

.text-title {
    color: $text-title--color;
    font-family: $text-title--font-family;
    font-size: $text-title--font-size;
    font-weight: 500;
}

.text-paragraph {
    color: $text-paragraph--color;
    font-family: $text-paragraph--font-family;
    font-size: $text-paragraph--font-size;
    display: flex;
    align-items: flex-start;
}

.text-price {
    color: $text-price--color;
    font-family: $text-price--font-family;
    font-size: $text-price--font-size;
}

.text-email {
    color: $text-email--color;
    font-family: $text-email--font-family;
    font-size: $text-email--font-size;
}

@media (max-width: 768px) { 
    .text-title,
    .text-paragraph,
    .text-price,
    .text-email {
        padding-bottom: $text-items--padding-bottom $global-spacing--1;
    }
}