$text-title--font-size: $baseline--step-down-1;
$text-title--color: $c-black;
$text-title--font-family: $t-default;

$text-paragraph--font-size: $baseline--step-up-1;
$text-paragraph--color: $c-black;
$text-paragraph--font-family: $t-default;

$text-amount--font-size: $baseline--step-up-2;
$text-amount--color: $c-black;
$text-amount--font-family: $t-default;

$text-contact--font-size: $baseline--step-up-2;
$text-contact--color: $c-black;
$text-contact--font-family: $t-default;

$text-items--padding-bottom: $global-spacing--1;