// Text

$text-header--font-size: $baseline;
$text-header--color: $c-black;
$text-header--font-family: $t-default;

$text-title--font-size: $baseline--step-up-1;
$text-title--color: $c-black;
$text-title--font-family: $t-default;

$text-paragraph--font-size: $baseline--step-up-1;
$text-paragraph--color: $c-black;
$text-paragraph--font-family: $t-default;

$text-price--font-size: $baseline--step-up-2;
$text-price--color: $c-black;
$text-price--font-family: $t-default;

$text-email--font-size: $baseline--step-up-2;
$text-email--color: $c-black;
$text-email--font-family: $t-default;

$text-items--padding-bottom: $global-spacing--1;