@import './variables';

.avatar {
    display: block;
}

.avatar img {
    border-width: $avatar--border-width;
    border-style: $avatar--border-style;
    border-color: $avatar--border-color;
    height: $avatar-img--height;
    max-height: $avatar-img--max-height;
    max-width: $avatar-img--max-width;
    object-fit: cover;
    overflow: hidden;
    width: $avatar-img--width;
}

@media (max-width: 768px) { 
    .avatar img {
        max-height: $avatar-img--max-height--small;
        max-width: $avatar-img--max-width--small;
    }
}